@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
html{
    scroll-behavior: smooth;
}
#banner{
    background: linear-gradient(rgba(0,0,0,0.5),#009688) , url(images/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.logo{
    width: 140px;
    position: absolute;
    top: 4%;
    left: 10%;
}
.banner-text{
    text-align: center;
    color: white;
    padding-top: 180px;
}
.banner-text h1{
    font-size: 130px;
    font-family: "Kaushan Script", cursive;
}
.banner-text p{
    font-size: 20px;
    font-style: italic;
}
.banner-btn{
    margin: 70px auto 0;
}
.btn{
    width: 150px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    border: 2px solid white;
    position: relative;
    z-index: 1;
}
.btn span{
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    z-index: -1;
    transition: 0.5s;
}
.btn:hover span{
    width: 100%;
}
.btn:hover{
    color: black;
    font-weight: bold;
}

#navigation{
    width: 200px;
    height: 100vh;
    position: fixed;
    right: -200px;
    top: 0;
    background:#009688;
    z-index: 2;
    transition: right 0.5s;
}

nav ul{
    margin-top: 50px;
}
nav ul a li{
    list-style: none;
    padding: 30px 20px;
    transition: 0.5s;
}

nav ul a{
    text-decoration: none;
    color: white;
}
nav ul a li:hover{
    background: white;
    color: #009688;
}
#menubtn{
    width: 50px;
    height: 50px;
    background: #009688;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    z-index: 3;
    cursor: pointer;
    border-radius: 3px;
}
#menubtn img{
    width: 20px;
    margin: 15px;

}

.popup{
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}

#popup:target{
    visibility: visible;
    opacity: 1;
}
#popup:target .popup-content{
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}
.popup-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.25);
    width: 50%;
    background: #fff;
    box-shadow: 0 20px 40px rgba(0,0,0,0.2);
    opacity: 0;
    transition: all .5s .1s ;
}
.popup-img{
    display: flex;
    width: 100%;
    margin-bottom: 30px;
}
.popup-img img{
    display: block;
    width: 33.3333%;

}
.popup-header{
    text-align: center;
    text-transform: uppercase;
    color: #555;
    margin-bottom: 36px;
}
.popup-header h1{
    font-size: 30px;
    margin-bottom: 20px;
}
.popup-header h2{
    font-size: 20px;
}
.popup-text{
    padding: 0 36px;
    line-height: 1.4;
}
.popup-text p:not(:last-child){
    margin-bottom: 16px;
}
.popup-text p:last-child{
    margin-bottom: 30px;
}


.popup-close:link,
.popup-close:visited{
    position: absolute;
    top: 12px;
    right: 20px;
    text-decoration: none;
    color: #d3d2d2;
    font-size: 30px;
    display: inline-block;
    line-height: 1;
    transition: all .3s;
}

.popup-close:hover,
.popup-close:active{
    color: #fff;
}
@media screen and (max-width: 770px){
    .banner-text h1{
        font-size: 44px;
    }
    .banner-btn a{
        display: block;
        margin: 20px auto;
    }
    .popup-content{
        width: 70%;
    }
}
@media screen and (max-width: 550px){
    .popup-header h1{
        font-size: 5px;
    }
    .popup-header h2{
        font-size: 10px;
    }
    .popup-content{
        width: 70%;
    }
    .popup-header{
        margin-bottom: 15px;
    }
    .popup-text p{
        font-size: 5px;
    }
    .popup-close:link,
    .popup-close:visited{
    top: 5px;
    right: 10px;
    font-size: 25px;
}
}

@media screen and (max-width: 950px){
    .popup-header h1{
        font-size: 20px;
    }
    .popup-header h2{
        font-size: 15px;
    }
    .popup-text p{
        font-size: 13px;
    }
}
@media screen and (max-width: 440px){
    .popup-img img{
        height: 15vh;
    
    }
    .popup-img{
        margin-bottom: 15px;
    }
    .popup-header h1{
        margin-bottom: 10px;
        font-size: 13px;
    }
    .popup-header h2{
        font-size: 11px;
    }
    .popup-text p{
        font-size: 10px;
    }
}

/* features */
#feature{
    width: 100%;
    padding: 70px 0;
}
.tittle-text{
    text-align: center;
    padding-bottom: 70px;
}
.tittle-text p{
    margin: auto;
    font-size: 20px;
    color: #009688;
    font-weight: bold;
    position: relative;
    z-index: 1;display: inline-block;
}
.tittle-text p::after{
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#019578, #fff);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}
.tittle-text h1{
    font-size: 50px;

}
.feature-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.features{
    flex-basis: 50%;
}
.features-img{
    flex-basis: 50%;
    margin: auto;
}
.features-img img{
    width: 70%;
    border-radius: 10px;
}
.features h1{
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color: #009688;
    font-weight: bold;
}
.features-desc{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.features-icon {
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    color: #009688;
    border: 1px solid #009688;
}
.features-icon i{
    padding: 10px;
}
.features-text p{
    padding: 0 20px;
    text-align: initial;
}

@media screen and (max-width: 770px){

       .tittle-text h1{
            font-size: 35px;
       }
       .features{
            flex-basis: 100%;
       }
       .features-img{
            flex-basis: 100%;         
        }
        .features-img img{
            width: 100%;
        }
        .features-text p{
            text-align: justify;
        }
}
/* features */

/* service */
#service{
    width: 100%;
    padding: 70px 0;
    background: #efefef;
}
.service-box{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
.single-services{
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: white;
    position: relative;
}
.single-services img{
    width: 100%;
    border-radius: 7px;
    object-fit: cover;
    height: 350px;
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.5),#009688);
    opacity: 0;
    transition: 1s;
}

.single-services:hover .overlay{
    opacity: 1;
}
.service-desc{
    width: 80%;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 1s;
}
.service-desc p{
    font-size:14px ;
}
hr{
    background: white;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}
.single-services:hover .service-desc{
    bottom: 40%;
    opacity: 1;
}

@media screen and (max-width: 770px){

    .single-services{
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    .service-desc P{
        font-size: 12px;
    }
    hr{
        margin: 5px auto;
        width: 80%;
    }
    .single-services:hover .service-desc{
        bottom: 25% !important;
    }

}
/* service */

/* feedback */
#feedback{
    width: 100%;
    height: 100vh;
    padding: 70px 0;
}
.feedback-row{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.feedback-row a{
    text-decoration: none;
    color: #000;
}
.feedback-col{
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 3px grey;
    cursor: pointer;
    transition: transform 0.5s;
}
.feedback-col p{
    font-weight: 500;
    text-align: justify;
    font-size: 14px;
}
.user{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.user img{
    width: 50px;
    border-radius: 4px;
    margin-right: 20px;
}

.user-info img{
    margin-left: 10px;
    width: 20px;
    margin-right: 0px;
}
.user-info small{
    color: #009688;
    font-weight: 600;
}
.feedback-col:hover{
    transform: translateY(-10px);
}

@media screen and (max-width:770px){
    .feedback-col{
        flex-basis: 100%;
    }
}
/* feedback */

/* footer */
#footer{
    padding: 100px 0 20px;
    background: #efefef;
    position: relative;
}
#footer a{
    text-decoration: none;
    color: black;
}
#footer a:hover{
    color: blue;
}
#footer img{
   max-width: 370px;
    opacity: 0.1;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%,-50%);
}
.footer-row{
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-left, .footer-right{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}
.footer-right{
    text-align: right;
}
.footer-row h1{
    margin: 10px 0;
}
.footer-row p{
    line-height: 35px;
}
.footer-left i, .footer-right i{
    font-size: 20px;
    color: #009688;
    margin: 15px;
}
.social-media{
    margin-top: 9rem;
    text-align: center;
}
.social-media a i{
    height: 40px;
    width: 40px;
    font-size: 25px;
    line-height: 40px;
    color: #009688;
    border: 1px solid #009688;
    margin: 5px;
    cursor: pointer;
    transition:0.5s;
    border-radius: 5px;
}
.social-media a i:hover{
    background-color: #009688;
    color: white;
    transform: translateY(-10px);
}
.social-media p {
    font-size: 12px;
    margin-top: 20px;
}

@media screen and (max-width:770px){
    .footer-left, .footer-right{
        flex-basis: 100%;
        font-size: 13px;
    }
    .social-media{
        margin-top: 2rem;
    }
}
/* footer */